.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "title title";
}

.title {
    grid-area: title;
    text-align: left;
    padding: 1rem;
}

.div_details {
    padding:1rem;
}

#canvas-container {
    width: 100%;
}